.container{
    display: flex;
    justify-content: center;
    gap:10px;
    font-size: 24px;
        font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.box{
    margin-top: 5rem;
}

 .text {
    margin-top:1rem;
    color: rgb(255, 255, 255);
    font-size: 24px;
        font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    background-color: rgb(0, 0, 0);

}



